.card {
  display: flex;
  margin-bottom: 16px;
  width: 50%;
  background: white;
  box-shadow: rgb(204, 204, 204) 0px 2px 5px;
  max-height: 100px;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.btn {
  color: white;
  background: rgb(91, 187, 91);
  border: 0px;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 50px;
  cursor: pointer;
}
